.navbar {
  border-bottom: 1px solid #e1e1e1;
  color: white;
  background-color: #333;
}

@media (min-width: 991px) {
  .navbar {
    height: 70px;
  }
  .navLink {
    margin-left: 15px;
  }
  #responsive-navbar-nav {
    border-top: none !important;
  }
}

.navLink {
  text-decoration: none;
  color: white;
  padding: 6px 0;
  font-family: "Anton", sans-serif;
}

.navLink:hover {
  border-bottom: 3px solid white;
  padding-bottom: 3px;
  color: white;
}

.log{
  margin-left: 10px;
}